<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :description, class:"form-control", placeholder:"Description" %>
  </div>
  <br>

<br>
<br>
<p>Please select your Rating:</p>
  <input type="radio" id="1" name="rating" value="1">
  <label for="1">1</label><br>
  <input type="radio" id="2" name="rating" value="2">
  <label for="1">2</label><br>
  <input type="radio" id="3" name="rating" value="3">
  <label for="1">3</label><br>
  <input type="radio" id="4" name="rating" value="4">
  <label for="1">4</label><br>
  <input type="radio" id="5" name="rating" value="5">
  <label for="1">5</label><br>
<br>
  <div>
    <%= form.text_field :relation, class:"form-control", placeholder:"Relation" %>
  </div>
<br>
  <div>
    <% :professor_id, value:"1" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-secondary"%>
  </div>

<% end %>
